CompileFlags:
  Add: 
    - -std=c++20
    - -fopenmp
    - -Wall
    - -Wextra
    - -Wno-unknown-pragmas
  Compiler: g++-14

Diagnostics:
  UnusedIncludes: Strict
  ClangTidy:
    Add: [performance-*, modernize-*, readability-*]
    Remove: [modernize-use-trailing-return-type]
